.wrapper--home-copy {
    max-width: 770px;
    margin: 0 auto;
}

.link--boton {
    text-decoration: none;
    background-color: #2a2a2a;
    color: #fff;
    cursor: pointer;
    border-radius: 2em;
    font-size: 14px;
    padding: 14px 20px;
    text-transform: uppercase;
}

.link--boton:hover{
    background-color: #fff;
    color: #2a2a2a;
    transition: 0.25s all ease;
}